
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
 
  /* Debut de la navbar */
  
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Navigation
 */

.navbar-brand img{
	height: 91px;
	width: auto;
}

.nav-link{
  font-size: 17px;
	color: #000000 !important;
	font-weight: 500;
}

.nav-item:hover .nav-link{
	color: #ffc107 !important;
}

.nav-item:after{
	position: absolute;
	/* left: 8; */
	width: 80%;
	height: 2px;
	content: '';
	background-color: #ffc107;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
/* Fin de la navbar */
/* Debut du dropdown menu */
.app-utility-item .dropdown-toggle {
  position: absolute;
  font-size: 23px;
  left: 25px;
  
  color: black;
  /* right: 10px !important; */

}

.app-utility-item .dropdown-menu {
  font-size: 0.5rem;
  margin-bottom: 10px;
  
}

.app-utility-item .dropdown-menu.show {
font-size: 15px;
margin-top: 15px;

}
@media screen and (max-width: 990px) and (min-width: 768px) {
  .seconnecter{
    position: relative;
    left:-80px;
  }

  .app-utility-item .dropdown-toggle {
    position: absolute;
    font-size: 23px;
    bottom: 10px;
    left: 200px;
    color: #000000;
    right: 8px;
  }
  .dropdown-menu{
    width: 20px;
  }
  
  .app-utility-item .dropdown-menu.show  {
    margin-top: 150px;
    width: 35px;
    padding: 40px;
  }
  .nav-item:after {
    position: absolute;
    bottom: -1px;
    left: 12;
    width: 10%;
    height: 2px; 
}
.login{
  margin-left: -100px;
}
}
@media(max-width:768px) {
  .app-utility-item .dropdown-menu.show  {
    margin-top: 48px;
    width: 35px;
  }
.seconnecter{
  position: relative;
  right:100px;
}
.navbar-brand{
  position: relative;
  left:-22px;
}

}
/* Fin du dropdown menu */
/* Début auth login */
.app-login .auth-background-holder {
  background: url("../../public/img/image1.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 100%
} 



.auth-main-col,
.auth-background-col {
  position: relative
}
.message{
  float: right;
  margin-right: -40px;
}
.seconnecter{
margin-left:100px ;
}

.auth-background-mask {
  background-image: url("public/img/image1.jpg") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .1)
}

.app-auth-wrapper {
  background: #fff;
  height: 100vh;
 
}

.app-auth-wrapper .app-auth-body {
  width: 360px;
  margin-left: 280px;
  
}

.app-auth-wrapper .app-logo .logo-icon {
  width: 250px;
  height: auto
}

.app-auth-wrapper .auth-heading {
  font-size: 1.5rem
}

.app-auth-wrapper .form-control::-webkit-input-placeholder {
  color: #828d9f
}

.app-auth-wrapper .form-control:-moz-placeholder {
  color: #828d9f
}

.app-auth-wrapper .form-control::-moz-placeholder {
  color: #828d9f
}

.app-auth-wrapper .form-control:-ms-input-placeholder {
  color: #828d9f
}

.app-auth-wrapper .legal-note {
  font-size: .875rem
}

.app-auth-wrapper .extra {
  font-size: .75rem
}

.app-auth-wrapper .extra a {
  text-decoration: underline;
  color: #828d9f
}

.app-auth-wrapper .extra a:hover {
  color: #5d6778
}

.app-auth-wrapper .auth-heading-desc {
  font-weight: 500;
  font-size: 1.125rem
}

.app-auth-wrapper .legal-note {
  font-size: .75rem
}

.app-auth-wrapper .auth-option {
  font-size: .875rem
}



@media(max-width: 767.98px) {
  .auth-background-col {
      display: none
  }
  .app-auth-wrapper .app-auth-body {
      
    position:relative;
    right: 280px;
    width: 100%;  
  }
   
}

/* Fi auth login */

.toast {
  position: absolute;
  top: 1.5em;
  right: 0.5em;
  z-index: 9999;
  opacity: .8;
  -webkit-animation: fadeInUp 0.5s, fadeOutUp 0.5s 3s;
  animation: fadeInUp 0.5s, fadeOutUp 0.5s 5s;
}

/* debut profile client */
 /* Debut livre d'or */


@media(min-width:568px) {
  .end {
      margin-left: auto
  }
}

@media(max-width:768px) {
  #post {
      width: 100%
  }
}

#clicked {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 13px
}

#profile {
  background-color: unset
}

#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #ffc107;
  /* border-color: #a88734 #9c7e31 #846a29; */
  /* color: black; */
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%
}


#nav-items li a,
#profile {
  text-decoration: none;
  color: rgb(224, 219, 219);
  background-color: black
}

.comments {
  margin-top: 5%;
  margin-left: 20px;
  
  
}

.darker {
  border: 1px solid #ecb21f;
  /* background-color: black; */
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.comment {
  
  /* background-color: rgba(16, 46, 46, 0.973); */
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}
.comment1{
  padding: 10px;
  border: 1px solid rgba(16, 46, 46, 1);
  border-radius: 10px;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline;
  
}


.comment p,
.comment span,
.darker p,
.darker span {
  
  color: rgb(66, 66, 66);
  
}

h1,
h4 {
  color: white;
  font-weight: bold
}


#align-form {
  margin-top: 20px
}

.form-group p a {
  color: white
}

#checkbx {
  background-color: rgb(255, 251, 251)
}
.comment img{
height: 100%;
object-fit: cover;
width: 10%;
}

#darker img {
  margin-right: 15px;
  position: static
}

.form-group input,
.form-group textarea {
  /* background-color: rgb(245, 233, 233); */
  border: 1px solid rgba(16, 46, 46, 1);
  border-radius: 12px
}

/* Fin livre d'or */

/* Debut card customer */
.sejourBTN{
  display: flex;
  margin-top: 10px;


}

.sejourBTN a{
  padding: 5px;
 margin: 5px;
}
/* Fin card customer */


/* début effet parallax */



@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#parallax-world-of-ugg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}
#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../../public/img/img_maroc/img1.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../../public/img/img_maroc/img2.jpg);
  background-attachment: fixed;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../../public/img/img_maroc/img3.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*************Lien de Reservation***************/
/* Debut page 404 */




.erreur404{
  /* background-color: rgba(5, 5, 5, 0.3) ; */
background: url("../../public/img/erreur404.jpg");


height: 850px;
 
  
}

.erreur404 h1{
   
  
  color:rgba(255, 254, 254,0.5);
 font-size: 200px;
 
 

}


/* Fin page 404 */
.reserver {
  text-align: center;
  
  
}
.reserver h1 i a{
  
	font-family:Georgia, 'Times New Roman', Times, serif;
  color:black;
  
	font-size: 25px;
	font-weight:bolder;
  text-decoration: none;
  list-style-type: none;
}
.reserver h1 i a:hover{
  
	font-family:Georgia, 'Times New Roman', Times, serif;
  color: #ffc107;
  
	font-size: 25px;
	font-weight:bolder;
  text-decoration: none;
  list-style-type: none;
}





/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}
/* Fin effet parallax */
/* Debut reservation  parallax */
@media screen and (max-width: 1324px){
		
	#texteIntro h1{
		font-size: 24px;
		margin-top: 18px;
	}
	
	#texteIntro p{
		margin-top: 18px;
		margin-left: 5px;
		font-size: 16px;
		text-align: left;
	}	
	
	.reserver h1 {
		font-size: 23px;
	}
	
	.colonneLigne1 {
		width: 44%;
	}
	
	.colonneLigne2 {
		width: 43%;
		margin-left: 35px;
	}
	
}
/* Fin reservation  parallax */

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}






/* #Media
================================================== */

@media (max-width: 767px) { 

	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		/* position: absolute;
		display: block; */
		top: 10px;
		left: 20px;
		width: 11px;
		height: 1px;
  
    color:red;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
}




/* fin de la navbar */
/* Debut reservation */
#reservation {
 
  top: 47px;
  background: #ffc107;
  width: 100%;
  padding: 10px 0px;
  z-index: 100;
}
.form-reservation {
  width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.form-reservation input, select {
  outline: none;
  border: 2px solid #404040;
  padding: 3px;
  background: none;
}
.form-reservation input:focus, select:focus {
  border: 2px solid #000;
}
.form-reservation input::placeholder {
  color: #404040;
}
#r-btn-submit {
  outline: none;
  border: none;
  padding: 3px;
  background: #fff;
  cursor: pointer;
  position: relative;
}
#r-btn-submit::before {

  height: 100%;
  background: rgb(255, 255, 255);
  color: #ffc107;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* transform-origin: left;
  transform: scale(0, 1);
  transition: transform ease-in-out 500ms; */
}
#r-btn-submit:hover::before {
  transform: scale(1,1);
}
#r-btn-submit b {
  color: #000;
  position: relative;
  transition: all ease-in-out 1s;
}
#r-btn-submit:hover b {
  color: #ffc107;
}

@media screen and (max-width: 1280px) {
  .nav-container {
      width: 100%;
  }
  .form-reservation {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
  }

}


@media screen and (max-width: 768px) {
 #reservation{
   position: relative;
   right:25px;
 }
  
  .form-reservation {
      grid-template-columns: 1fr;
      width: 60%;
  }  
  #reservation {
      position: relative;
      top: -24px;
  }
  .our-menu-all input:checked + .our-menu .our-menu-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin: 0;
      padding: 0;
  }
  
}
@media screen and (max-width: 425px) {
  .prev {
      opacity: 0;
  }
  .next {
      opacity: 0;
  } 
  .form-reservation {
      width: 100%;
  }
  
}

/* Fin reservation */
/* Début Apropos */
.cadre {
	background-color : rgba(222,226,221,0.8);
	width : 60%;
	margin-left :18%;
	padding-left: 2%;
	padding-right:2%;
	padding-top :30px;
	padding-bottom:30px;
	text-align :center;
	margin-top : -50px;
	
}


.effetParalax1 {
  margin-bottom: 100px;
  background: url(../../public/img/apropos.jpg) no-repeat fixed; 
  background-size: cover; 
  padding-top: 250px;
  padding-bottom: 100px;
  height : 700px;
}

@media screen and (max-width: 1024px){
  .pageApropos{
 height : auto;
 width : 50%;
 margin-left : 10%;
}
.effetParalax1{

    width:100%;
     height : 1000px;
 }.cadre{
 text-align :center;
}

.cadreP{
 height : auto;
 width : auto;
 margin-left : 20%;
}

}
/* Fin Apropos */




/******* Section destination de la page d'accueil *****/

body{
  background: #f7f7f7;
  color: #777;
  font-family: "Myriad Web Pro", Helvetica, Sans-Serif;
  font-size: .875em;
}

/* CONTAINERS */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.destination h2{
  /* font-family: 'Lalezar', cursive;  */
  padding:20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  text-align: center;
  font-size: 2.5rem;
}
main{
  position: relative;
  display: inline-table;
  margin: auto;
  max-width: 380px;
}
section{
  background: #fff;
  border-radius: .25em;
  box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
  margin: 1.5em;
  overflow: hidden;
}
figure{
  height: 12.5em;
}
article{
  padding: 2em;
}

/* IMAGE */
img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* TYPOGRAPHY */
article h1{
  font-size: 2em;
  letter-spacing: -.05em;
  line-height: 1;
  margin: .25em 0;
  
}
p{
  line-height: 1.4;
}
span{
  color: #bbb;
  font-size: .75em;
  text-transform: uppercase;
  word-spacing: .0625em;
}

.video iframe{
  margin-right: 150px;
}

.icon-1{
  display: flex;
  align-items: center;
}

@supports (display: grid){
  @media only screen and (min-width: 768px){
    main{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-gap: 1.5em;
      max-width: 1140px;
      padding: 1.5em;
    }

    section{
      margin: 0;
    }
    
  }
}
 /* Début image background */
 
 .background_image {
  font-family: 'Anton', sans-serif;
  position: relative;
  text-align: center;
  font-size: 80px;

  letter-spacing: 5px;
  color: #fff;
  opacity:0.7 ;
  
}
.gender-f{
display: flex;
}
.texte_centrer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .texte_centrer{
 font-size: 25px;
 /* color: red; */
 }
}


.dropdown-toggle{
  /* height: !important; */
  position: absolute;
  left:350px;
  color: rgb(224, 103, 103) ;
  
  
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.welcome{
  font-family: 'Anton', sans-serif;
  background: url('../../public/img/welcome.jpg');
  text-shadow: 1px 1px 4px black;
  width: 100%;
  height: 960px;
  font-size: 100px;
  text-align: center;

  color:#ffc107;
}
@media (max-width: 768px){
  .welcome{
    background-position: 100px;
    
    
    width: 100%;
    height: 400px;
  }
}


.profil {
  
  height: 350px;
  
}


/* Début de formulaire d'inscription  */
.form-all h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding:50px;
  text-align: center;
}
/* Fin de formulaire d'inscription  */

/* Début contact us */ 
  .section {
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin: 60px auto;
  }
  
  .section h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
  }
  
  .top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
  }
  
  .right {
    right: 0;
  }
  
  .left {
    left: 0;
  }
  
  @media (max-width: 685px) {
  .top-border {	
    width: 18%;
      }
 
  }


  
    .section p {
    width: 61%;
    margin: 20px auto 40px auto;
    line-height: 30px;
  }
  
  .section a {
    outline: 0;
    display: inline-block;
    padding: 20px;
    margin-bottom: 40px;
    width: 440px;
    max-width: 80%;
    background-color: #333;
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
  }
  
  .section a:hover {
    background-color: #1D222D;
  }
  
  .section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 500px) {
    .top-border {	
      display: none;
    }
    .section {
    border-top: 2px solid #333;
    }
    .section h1 {
      margin: 20px 6px;
    }
  }
/* Fin contact us */


/* Début du footer */
.footer {
  background-color: #ffc107;
  padding: 60px 40px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  position: relative;
  top: 300px;
}
.footer .footer-brand,
.footer .footer-nav,
.footer .footer-social,
.footer .footer-ns {
  padding: 10px 25px;
}
.footer .footer-nav,
.footer .footer-social,
.footer .footer-ns {
  border-color: transparent;
}
.footer .footer-brand h2 {
  margin: 0px 0px 10px;
}
.footer .footer-brand p {
  font-size: 12px;
  color: #000000;
}

.footer .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}
.footer .footer-nav ul.pages li {
  padding: 5px 0px;
}
.footer .footer-nav ul.pages a {
  color:#000000;
  font-weight: bold;
  text-transform: uppercase;
}
.footer .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.footer .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}
.footer .footer-nav ul.list li {
  padding: 5px 0px;
}
.footer .footer-nav ul.list a {
  color:#000000;
}
.footer .footer-nav ul.list a:hover {
  color: #000000;
  text-decoration: none;
}

.footer .footer-social ul {
  list-style: none;
  padding: 0px;
}
.footer .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer .footer-social li {
  padding: 5px 4px;
}
.footer .footer-social a {
  color: #000000;
}
.footer .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.footer .footer-ns p {
  font-size: 12px;
  color: #000000;
}

@media (min-width: 768px) {
  .footer .footer-nav,
  .footer .footer-social,
  .footer .footer-ns {
    border-left: solid 1px #000000;
  }
}




/* Fin du footer */
 /***********MEDIA QUERIES**************/
.scale-section {

  display: flex;

}


 main {
  display: inline-grid !important;
}
 




   




  